body {
    margin: 0;
}
.teste {
    background-color: green;
    margin-left: 100px;
    margin-top: 100px;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border-top-right-radius: 100px
}
.test {
    margin-top: 20px;
    margin-left: 100px;
    border-radius: 5PX;
    border: 1px solid #000;
}